@model Catalog.Models.ModelViewModel

@using (Html.BeginForm("Create", "Model", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.ValidationSummary(true)
        <div class="data-form">
            <div class="data-form-row-input">
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "")
            </div>
            <div class="data-form-row-input">
                @Html.LabelFor(model => model.PhotoUrl)
                @Html.TextBoxFor(model => model.File, new { type = "file" })
                @Html.ValidationMessageFor(model => model.File, "")
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}