@model IEnumerable<Catalog.Models.ModelViewModel>
@using Catalog.Helpers

@{
    ViewBag.Title = "MODELS";
}
<div>
    <h2>@TempData.Peek("BrandName") @ViewBag.Title</h2>
</div>

<div id="dialogContent"></div>

<div  class="flex-gor">
    @foreach (var item in @Model)
    {
        <div class="ui-widget-content">
            <div>
                <h4>@item.Name.ToUpper()</h4>
            </div>
            <div>
                <a href="@Url.Action("Cars", "Car", new { modelId = item.Id })">
                    @Html.GetImageString(item.PhotoUrl)
                </a>
            </div>
            <div class="flex-gor">
                @Html.ActionLink("Edit", "Edit", "Model",
               new { id = item.Id },
               new {
                   @class = "view-dialog ui-priority-secondary ui-button ui-widget ui-corner-all",
                   data_dialog_title = "Edit Model",
                   data_action = "EDIT"
               })

                @Html.ActionLink("Delete", "Delete", "Model",
               new { id = item.Id },
               new {
                   @class = "view-dialog ui-priority-secondary ui-button ui-widget ui-corner-all",
                   data_dialog_title = "Remove Model",
                   data_action = "DELETE"
               })
            </div>
        </div>
    }
</div>

<div id="btnCreate">
    @Html.ActionLink("Add New", "Create", "Model",
    new { },
    new {
        @class = "view-dialog ui-priority-primary ui-button ui-widget ui-corner-all",
        data_dialog_title = "Add New Model",
        data_action = "ADD"
        })
</div>

@section scripts{
    <script>
        $('#brandsBtnLink').removeClass('hidden');
        $('#catalogBtnLink').removeClass('hidden');
    </script>
    @Scripts.Render("~/bundles/view-dialog")
}